{% extends 'base.html.twig' %}

{% block title %}Nuevo Cliente{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}

    {{ form_start(form, {'attr': {'class':'form-horizontal'}}) }}
{{ form_errors(form) }}

<div class="form-group">
    <div class="col-xs-6">
        {{ form_row(form.nombre, {'attr': {'class':'form-control'}}) }}
    </div>
    <div class="col-xs-6">
        {{ form_row(form.telefono, {'attr': {'class':'form-control'}}) }}
    </div>
</div>

<div class="form-group">
    <div class="col-xs-12">
        {{ form_row(form.coche, {'attr': {'class':'form-control'}}) }}
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12">
        {{ form_row(form.enviar, {'attr': {'class':'pull-right btn btn-lg sr-button'}}) }}
    </div>
</div>
{{ form_end(form) }}

    <div class="btn-volver">
        <a href="{{ path('listar_clientes') }}">Volver a la lista</a>
    </div>
    {% else %}
        <p>No tienes acceso</p>
    {% endif %}
{% endblock %}