<ul>
    <li><a href="{{ path('editar_cliente', { 'id': cliente.id }) }}"><strong>{{ cliente.nombre }}</strong></a></li>
    <li><strong>Teléfono</strong>: {{ cliente.telefono }}</li>
    {% if cliente.provincia %}
    <li><strong>Provincia: </strong>{{ cliente.provincia.nombre }}</li>
    {% endif %}
    <li><strong>Coche</strong>: {{ cliente.coche }}</li>
</ul>
